<%= form_with(model: my_model, local: true) do |form| %>
  <% if my_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_model.errors.count, "error") %> prohibited this my_model from being saved:</h2>

      <ul>
        <% my_model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.file_field :image1 %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
